<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--<property name="cache.use_query_cache">true</property>-->

        <mapping class="com.rokon.domain.Login" />
		<mapping class="com.rokon.domain.AgricultureIncome" />
		<mapping class="com.rokon.domain.BusinessOrProfessional" />
		<mapping class="com.rokon.domain.CapitalGainBusiOther" />
		<mapping class="com.rokon.domain.InvestmentTaxCredit" />
		<mapping class="com.rokon.domain.ParticularsOfExpenditure" />
		<mapping class="com.rokon.domain.Salary" />
		<mapping class="com.rokon.domain.HouseProperty" />
		<mapping class="com.rokon.domain.Security" />
		<mapping class="com.rokon.domain.StatementOfAssets" />
		<mapping class="com.rokon.domain.User" />
		
    </session-factory>
</hibernate-configuration>
